body {
  margin: 0;
  padding: 30px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

div {
  margin-top: 20px;
}

input, button {
  margin-right: 10px;
}

th, td {
  width: 220px;
  text-align: left;
}

.main-container {
  width: 70%;
  margin: auto 0;
}

