body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

a:link {
  text-decoration: none;
  font-weight: bold;
  color: red;
}

a:hover {
  color: darkred;
}

th, td {
  width: 220px;
  text-align: left;
}

button, input, textarea {
  margin-top: 10px;
}

